In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [14]:

df = pd.DataFrame(
     np.random.rand(100,2)/[50,50]+[35.698,139.70],
     columns=['lat', 'lon']
)
df

          lat         lon
0   35.700135  139.717009
1   35.717627  139.717887
2   35.698269  139.705584
3   35.715006  139.702021
4   35.705110  139.701093
..        ...         ...
95  35.707045  139.712771
96  35.711030  139.717914
97  35.709675  139.711185
98  35.709119  139.703662
99  35.709444  139.713097

[100 rows x 2 columns]

In [16]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
import time
for i in range(100):
  print(i)
  time.sleep(1)

0
1
2
3
4
5
6
7
8

KeyboardInterrupt: